
<table>
  <tr>
    <th>Projects</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<div>

</div>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to "#{project.name}", project_path(project) %></td>

  </tr>
<% end %>
</table>

<p>
  <%= button_to "Create Project", new_project_path, :method => :get %>
</p>